<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Demo BindID Redirect</title>

  <meta name="xm-bind-id-client_id" content="<%=client_id%>">

  <script src="https://polyfill.io/v3/polyfill.min.js?features=Promise%2CPromise.prototype.finally"></script>
  <script src="<%=bindid_base%>/bindid-sdk/transmit-bind-id-sdk.js" defer></script>

  <style>
  * { margin: 0; }
  pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; background-color: #232930; color: #BBB}
  .string { color: green; }
  .number { color: darkorange; }
  .boolean { color: blue; }
  .null { color: magenta; }
  .key { color: #CC3333; }
  
  #img_body {
      width: 100%;
  }
  </style>
</head>
<body>
  <img id="img_body" src="img/postlogin.jpg" alt="full page logged in" />

  <div id="datadiv"></div>
  <script>
    function syntaxHighlight(json) {
      json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
      return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
        var cls = 'number';
        if (/^"/.test(match)) {
            if (/:$/.test(match)) {
                cls = 'key';
            } else {
                cls = 'string';
            }
        } else if (/true|false/.test(match)) {
            cls = 'boolean';
        } else if (/null/.test(match)) {
            cls = 'null';
        }
        return '<span class="' + cls + '">' + match + '</span>';
      });
    }
  </script>
  <script>
    window.addEventListener('load', evt => {
      const datadiv = document.getElementById('datadiv');

      function sendAuthCodeToServer(authCode) {
        /* Show Token info */
        fetch(`/token_exchange?code=${authCode}`).then(r => r.json()).then(data => {
          console.log('code sent');
          datadiv.innerHTML = `<pre>${syntaxHighlight(JSON.stringify(data, undefined, 2))}</pre>`;
        });

        /** TODO: token exchange page 
        const urlParams = new URLSearchParams(window.location.search);
        window.location.replace(
          `/token_exchange_page?code=${urlParams.get('code')}`);
        */
      }

      function handleError(err) {
        datadiv.innerHTML = `<p style="color:red">ERROR: ${JSON.stringify(err)}</p>`;
      }
      
      window.XmBindId.processRedirectResponse()
        .then(res => { sendAuthCodeToServer(res.code); }, err => { handleError(err); })
    });
  </script>
  
</body>
</html>
